body {
    text-align: center;
}
.forecast{
    margin: 0 auto;
    text-align: center;
    width: 20%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 10px;
    color: white;
}
#tempInfo {
    font-size: 3em;
    font-weight: bold;
    margin: 20px 0;

}
.fa-sun {
    font-size: 3em;
    visibility: hidden;
}
.fa-cloud {
    font-size: 3em;
    visibility: hidden;
}
.fa-cloud-sun {
    font-size: 3em;
    visibility: hidden;
}
.fa-cloud-rain {
    font-size: 3em;
    visibility: hidden;
}
.fa-moon {
    font-size: 3em;
    visibility: hidden;
}

@media screen and (max-width: 800px){
    .forecast{
        margin: 0 auto;
        text-align: center;
        width: 40%;
        border: 1px solid black;
        border-radius: 10px;
        padding: 0 10px;
        color: white;
    }
}